/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	padding-top: 60px;
}

.new_post_button {
	padding-bottom: 10px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background: lightgrey;
}
/*footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:55px;   /* Height of the footer */
 /*  background: lightgrey;
}  */

footer p {
	padding-top: 25px;
	text-align: center;
}