// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_post_button {
	padding-bottom: 10px;
}

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #F0F0F0;
}
 s
.status .admin {
	display: none;
}

.status.hover .admin {
	display:inline;
}

